body {
    background-color: rgb(250, 250, 250);
    font-family: "IBM Plex Sans", sans-serif;
}

.compose-btn {
    background-color: rgb(34, 62, 46);
    border: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
}

.compose-btn:hover {
    background-color: rgba(0, 0, 0, 0.87);
}

.nav-bar, .msg-buttons {
    background-color: rgb(34, 62, 46);
}

.msg-buttons, .title {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
}

.active-item {
    background-color: rgba(10, 82, 50, 0.349);
}

#search-input {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 3px;
}

.search-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.subject {
    color: rgb(34, 62, 46);
}

.msg-text {
    font-size: 10pt;
}

.list-group-item:hover {
    border: 1px solid green;
    background-color: rgba(10, 82, 50, 0.10) ;
}

::placeholder {
    color: rgba(255, 255, 255, 0.50);
    padding-left: 15px;
    font-weight: 100;
}